<!DOCTYPE html>
<html>
<head>
  <title>Login - Game Tracker</title>
</head>
<body>
  <h1>Login</h1>

  {{#if error}}
    <p style="color:red">{{error}}</p>
  {{/if}}
  {{#if success_msg}}
    <p style="color:green">{{success_msg}}</p>
  {{/if}}

  <form action="/users/login" method="POST">
    <div>
      <label>Email:</label>
      <input type="email" name="email" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>

  <p><a href="/users/register">Register</a> | <a href="/">Home</a></p>
</body>
</html>
